@model PaginatedList<InventoryManagement.Models.Warehouse>
@using System.Security.Claims

@{
    ViewData["Title"] = "Kho hàng";
    var user = User.Identity;
    var role = user.IsAuthenticated ? User.FindFirst(ClaimTypes.Role)?.Value : null;
}

<head>
    <link href="~/css/style.css" rel="stylesheet" />
</head>

<h1>Danh sách kho hàng</h1>
<p>
    <a asp-action="Create">Tạo mới</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Tìm kiếm
            <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" placeholder="Nhập tên kho hay địa chỉ" />
            <input type="submit" value="Tìm" class="btn btn-default" /> |
            <a asp-action="Index">Trở về danh sách đầy đủ</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-warehouseFilter="@ViewData["CurrentWarehouseFilter"]">Tên kho hàng</a>
            </th>
            <th>
                Vị trí
            </th>
            @if (role == "Admin")
            {
                <th>
                    Thao tác
                </th>
            }
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                @if (role == "Admin")
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.WarehouseID">Sửa</a> |
                        <a asp-action="Details" asp-route-id="@item.WarehouseID">Chi tiết</a> |
                        <a asp-action="Delete" asp-route-id="@item.WarehouseID">Xóa</a>
                    </td>
                }
            </tr>
}
    </tbody>
</table>
<div class="pagination">
    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }

    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       asp-route-warehouseFilter="@ViewData["CurrentWarehouseFilter"]"
       class="btn btn-default @prevDisabled">
        Trước
    </a>
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       asp-route-warehouseFilter="@ViewData["CurrentWarehouseFilter"]"
       class="btn btn-default @nextDisabled">
        Tiếp
    </a>
</div>