@model Product

@{
    ViewData["Title"] = "XUẤT KHO";
}
<head>
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<h1>Xuất kho</h1>

<div>
    <h4>Hàng</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EntryDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EntryDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supplier.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Warehouse.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Warehouse.Name)
        </dd>
    </dl>

    <form asp-action="Export" method="post">
        <div class="form-group">
            <label for="ExportQuantity">Output quantity:</label>
            <input type="number" id="ExportQuantity" name="ExportQuantity" class="form-control" />
        </div>
        <input type="hidden" asp-for="ID" />
        <br />
        <input type="submit" value="Export" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>

