@model InventoryManagement.Models.StatisticsViewModel

@{
    ViewData["Title"] = "Thống kê hàng hóa";
}

<head>
    <link href="~/css/style-statics.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
</head>

<h1>Thống kê hàng hóa</h1>

<div class="stats-container">
    <div class="stat-item">
        <div class="stat-box stat-box-quantity">
            <h2>@Model.TotalQuantityImported</h2>
        </div>
        <div class="stat-title">Tổng số lượng hàng nhập kho</div>
    </div>

    <div class="stat-item">
        <div class="stat-box stat-box-value">
            <h2>@Model.TotalValueImported VND</h2>
        </div>
        <div class="stat-title">Tổng giá trị hàng nhập kho</div>
    </div>
</div>

<form method="get" asp-action="NStatistics">
    <div class="form-group">
        <label for="startDate">Ngày bắt đầu:</label>
        <input type="date" id="startDate" name="startDate" class="form-control" />
    </div>
    <div class="form-group">
        <label for="endDate">Ngày kết thúc:</label>
        <input type="date" id="endDate" name="endDate" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Thống kê</button>
</form>
<br />
<h3>Chi tiết các giao dịch nhập kho:</h3>
<table class="table">
    <thead>
        <tr>
            <th>Tên sản phẩm</th>
            <th>Ngày nhập</th>
            <th>Số lượng</th>
            <th>Nhà cung cấp</th>
            <th>Kho</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Histories)
        {
            <tr>
                <td>@item.ProductName</td>
                <td>@item.Date.ToString("dd/MM/yyyy")</td>
                <td>@item.Quantity</td>
                <td>@item.SupplierName</td>
                <td>@item.WarehouseName</td>
            </tr>
        }
    </tbody>
</table>