@model IEnumerable<Supplier>

@{
    ViewData["Title"] = "Nhà Cung Cấp";
}
<head>
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<h1>Nhà Cung Cấp</h1>

<h4><p>
    <a asp-action="Create">Tạo Mới</a>
</p></h4>
<form method="get">
    <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" placeholder="Nhập tên nhà cung cấp..." />
    <input type="submit" value="Tìm Kiếm" />
</form>
  
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-warehouseFilter="@ViewData["CurrentWarehouseFilter"]">Tên Nhà Cung Cấp</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-warehouseFilter="@ViewData["CurrentWarehouseFilter"]">Địa Chỉ</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-warehouseFilter="@ViewData["CurrentWarehouseFilter"]">Liên Hệ</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SupplierId">Chỉnh Sửa</a> |
                <a asp-action="Details" asp-route-id="@item.SupplierId">Xem Chi Tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.SupplierId">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
