@model PaginatedList<InventoryManagement.Models.History>

@{
    ViewData["Title"] = "Lịch sử nhập xuất kho";
}
<head>
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<h1>Lịch Sử Nhập Xuất Hàng</h1>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Tìm kiếm
            <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" placeholder="Nhập tên hàng hóa" />
            @Html.DropDownList("actionFilter", (SelectList)ViewData["ActionList"], "Tất cả ")

            <input type="submit" value="Tìm" class="btn btn-default" /> |
            <a asp-action="Index">Trở về</a>
        </p>
    </div>
</form>

@if (TempData["Message"] != null)
{
    <div class="alert alert-info" id="tempMessage">
        @TempData["Message"]
    </div>
}
<br />

<table class="table">
    <thead>
        <tr>
            <th>Tên Sản Phẩm</th>
            <th>Nhập/Xuất</th>
            <th>Ngày</th>
            <th> Số Lượng Hàng Ban Đầu</th>
            <th>Số lượng </th>
            <th>Nhà Cung Cấp</th>
            <th>Kho</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductName</td>
                <td>@item.Action</td>
                <td>@item.Date.ToString("dd/MM/yyyy")</td>
                <td>@item.Quantitybegin</td>
                <td>@item.Quantity</td>
                <td>@item.SupplierName</td>
                <td>@item.WarehouseName</td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   asp-route-actionFilter="@ViewData["CurrentActionFilter"]"
   class="btn btn-default @prevDisabled">
    Trước
</a>
<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   asp-route-actionFilter="@ViewData["CurrentActionFilter"]"
   class="btn btn-default @nextDisabled">
    Tiếp
</a>

@section Scripts {
    <script>
        // Tự động ẩn thông báo sau 5 giây
        setTimeout(function () {
            var tempMessage = document.getElementById('tempMessage');
            if (tempMessage) {
                tempMessage.style.display = 'none';
            }
        }, 5000);
    </script>
}
